{{ define "main" }}

<div class="blog-header">
    <h1>{{ .Title }}</h1>
</div>

<div class="row">
    <div class="col-sm-8 blog-main">
        <div class="blog-post">
            {{ .Content }}
        </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
    <!-- Blog Side Bar-->
    <div class="col-md-3" id=sidebar data-spy="affix-bottom" data-offset-top="0">
        <nav class="post-sidebar hidden-print hidden-sm hidden-xs affix sticky" id="post-nav">
            <h5>contents</h5>
            <ul class="nav post-sidenav"> 
                <li class="">{{ .Page.TableOfContents }}</li>
            </ul>
        </nav>
    </div><!-- /.blog-sidebar -->
</div><!-- /.row -->
{{ end }}
